.css_idtarefa__label {text-align:;}
.css_idtarefa__line {text-align:left;}
.css_idtarefa__obj {text-align:left;}
.css_nome__label { }
.css_nome__line { }
.css_nome__obj { }
.css_custo__label { }
.css_custo__line {text-align:left;}
.css_custo__obj {text-align:left;}
.css_datalimite__label { }
.css_datalimite__line { }
.css_datalimite__obj { }
.css_up__label {width:30px;}
.css_up__line {width:30px;}
.css_up__obj {width:30px;}
.css_down__label {width:30px;}
.css_down__line {width:30px;}
.css_down__obj {width:30px;}
